*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    height: 500px;
    position: relative;
}

.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    font-family: 'helvetica';
    z-index: 1;
    bottom: 20px;
}

.pattern {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    font-family: 'helvetica';
    padding: 10px;
    padding-left: 10px;
    margin: 0;
}

.product-image {
    width: 500px;
    height: auto;
    margin: 20px;
}

.product-title {
    font-weight: bold;
    margin: 10px;
    font-family: 'helvetica';
    margin-bottom: 10px;
}

.prodcut-description {
    line-height: 1.5;
    margin-bottom: 30px;
}

.content {
    padding: 0;
    max-width: 1200px;
}

#brush {
    background-color: mediumspringgreen;
}

#Frames {
    background-color: lightcoral
}

#paint {
    background-color: skyblue;
}

#price {
    font-family: 'Helvetica';
    font-weight: bold;
    color: blue;
}